.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
}

.navbar ul li{
    margin: 10px;
}

.navbar a{
    color: aliceblue;
    text-decoration: none;
}

.navbar a:hover{
    color: #74FAC0;
    text-decoration:underline;
    transition-duration: 0.5s;
}

.mobileMenu{
  display: none;
}

@media screen and (max-width: 1024px) {

    .navbar{
        display: none;
    }
.mobileMenuIcon{
  font-size: 25px;
}
    .mobileMenu{
      display: block;
    }

    .MobileButton{
        margin: 20px 20px 0 0;
        display: flex;
        justify-content: end;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      .mySideNav{
        width: 250px;
      }

      .social{
        display: flex;
        flex-direction: center;
        margin: 10px;
      }
}